.switch {
  --disabled-color: grey;
  --bg-color: dodgerblue;
  --fg-color: white;
  --height: 2em;
  --padding: 0.25em;
  --width: calc(var(--height) + var(--height) * 0.5);
  --button-end-position: calc(var(--width) - var(--height));
}

.switch {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: calc(var(--width) + (var(--padding) * 2));
  height: calc(var(--height) + (var(--padding) * 2));
  background-color: var(--disabled-color);
  border-radius: calc(calc(var(--height) + 0.5em) / 2);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding: var(--padding);
}

.switch::after {
  content: "";
  display: block;
  background-color: var(--fg-color);
  width: var(--height);
  height: var(--height);
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.1s ease-in-out;
}

.switch:checked {
  background-color: var(--bg-color);
}

.switch:checked::after {
  transform: translate(var(--button-end-position), 0);
}

.switch:disabled {
  background-color: var(--disabled-color);
  opacity: 0.5;
  cursor: default;
}

.switch--large {
  --height: 3em;
}

.group {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 0.2em;
}
